@use './variables';
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap');

* {
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
  color: black; // variables.$base-font-colour;
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;

  &::selection {
      background-color: white; // variables.$light-font-colour;
  }
}

body, html {
  height: 100vh;
  width: 100vw;
  overflow-x: hidden;
  overflow-y: scroll;
  overscroll-behavior: contain;
  -ms-overflow-style: none;
  scrollbar-width: none;
  position: fixed;
}

body::-webkit-scrollbar,
html::-webkit-scrollbar {
  display: none;
}